<p>Registered users can create three types of wallets.</p>

<p><b>Personal wallet.</b> The user can replenish the wallet and transfer money from it to any other.</p>

<p><b>Team wallet </b>(for example, a company wallet, or a general collection for certain purposes). It can be private and public. If the wallet is private, only its creator can invite users. Otherwise, all its members can invite other users. Only the creator can to transfer money from this wallet. All users can replenish it.</p>

<p><b>Family wallet. </b>Only the creator can invite other users. The creator of the wallet has an unlimited limit to receive the available money from wallet. Invited members have a daily limit set by the wallet's creator. However, if the user (not the creator) has a positive balance in this wallet, which is above the limit, he can use it. All users can replenish it.</p>

<p>A money tranfer between is possible <b>only between wallets with the same currency</b>.</p>

<p>For each operation is charged a tax, which depends on the size of the transferred money. When transferring to someone else’s wallet, the user can choose who will pay the tax. </p>

<p><i>But!
(There will be a tax for replenishing personal wallet from outside the system, but it does not affect the final amount. Because, for example, each new user has an unlimited budget outside the system from which personal purses are allegedly replenished and a tax is paid)</i></p>